<div class="container">
    <h1>People</h1>

    <h3>{{message}}</h3>

    <div class="col-md-4">
        <br/>
        <form>
            <div class="form-group">
                <h2>Add person</h2>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <div>
                    <input type="text" class="form-control" id="loginOfUser" placeholder="Name"
                           ng-model="pizzaName"/>
                </div>

                <label for="name">Ingredents:</label>
                <div>
                    <select multiple class="form-control" id="ingredientList"
                            ng-options="p.name for p in allInd |orderBy:'name'" ng-model="selectedItems">
                    </select>
                </div>

                <label for="name">Price:</label>
                <div>
                    <input type="text" class="form-control" id="priceOfPizza" placeholder="Price"
                           ng-model="pizzaPrice"/>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-success" ng-click="savePizza()">Create</button>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <table class="table table-hover">
        <thead>
        <tr>

            <th>Name</th>
            <th>Ingredients</th>
            <th>Price</th>
        </tr>
        </thead>
        <!--mamy petle for each-->
        <!--&lt;!&ndash;p.id&ndash;&gt; bo w postmanie w json gostek ma pole o nazwie id i tak samo dla imienie i nazwiska-->
        <tbody>
        <tr ng-repeat="p in pizza |orderBy:'name'"> &lt;!&ndash;to teraz mi pokaz nazwe listy w js o nazwie user&ndash;&gt;

            <td>{{ p.name }}</td>
            <td>
                <span ng-repeat="ingredient in p.ingredient">
                {{ingredient.name}}
                </span>
            </td>
            <td>{{ p.price}}</td>
            <td nowrap=nowrap>
                <a href="#!/edit"><i class="glyphicon glyphicon-pencil"></i></a>
                <i class="glyphicon glyphicon-remove"></i>
            </td>
        </tr>
        </tr>
        </tbody><!--w js podpopwiada w html czasem tez TO PATRZ NA TE PODPOWIEDZI SUPER SA PA TO  -->
    </table>

</div>