<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/AngularJS/angular.min.js"></script>
    <script src="/AngularJS/angular-resource.js"></script>
    <script src="/AngularJS/angular-route.js"></script>

    <script src="js/ui-bootstrap-tpls-2.1.3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
</head>

<body>
<!--<a href="#/">Home</a>-->
<!--<a href="#/blog">Blog</a>-->
<!--<a href="#/about">About</a>-->
<header>
<!--    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Niko</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                &lt;!&ndash;<li><a href="home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="user"><i class="fa fa-shield"></i>People</a></li>&ndash;&gt;
                <li><a href="about"><i class="fa fa-shield"></i> About</a></li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        &lt;!&ndash;<li><a href="#user">People</a></li>&ndash;&gt;
                        &lt;!&ndash;<li><a href="#adress">Adress</a></li>&ndash;&gt;
                        <li><a href="addIngredient">Ingredients</a></li>
                       &lt;!&ndash; <li><a href="addPizza">Pizza</a></li>&ndash;&gt;
                        <li><a href="login">Login</a></li>
                    </ul></li>
            </ul>
        </div>
    </nav>-->
</header>
<div>

   <center><form th:action="@{/login}" method="post">
        <div><label> Nazwa użytkownika: <input type="text" name="username" class="form-control"
                                               placeholder="Nazwa użytkownika"/> </label></div>
        <div><label> Hasło: <input type="password" name="password" class="form-control"
                                   placeholder="Hasło"/> </label></div>
        <center><div><input type="submit" class="btn btn-md btn-warning" value="Zaloguj"/></div></center>
    </form><p>{{message}}</p></center>

</div>
</body>
</html>
