<div>
    <div class="header-content-inner">
        <br/><br/><br/>




        <h1> Już tylko jeden krok!</h1>
        <hr>
        <br/><br/><br/>
    </div>
</div>

<div class="container-fluid bg-primary">
    <h1>Home</h1>

    <h3>{{message}}</h3>
    <label for="name">Pizza:</label>
    <div>
        <select multiple class="form-control" id="pizzaList"
                ng-options="p as p.name for p in pizza |orderBy:'name'" ng-model="selected" ng-change="costOfPizza()">
        </select>
    </div>

    <h3>Aktualny koszt zamówienia: {{cost}} PLN</h3>


</div>