<div class="container">
    <br/>
    <br/>
    <h1>Menu</h1>

    <h3>{{menuMessage}}</h3>

    <br/>
    <table class="table table-hover">
        <thead>
        <tr>

            <th>Nazwa</th>
            <th>Składniki</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in pizza |orderBy:'name'">

            <td>{{ p.name }}</td>
            <td>
                <span ng-repeat="ingredient in p.ingredient">
                {{ingredient.name}}
                </span>
            </td>
            <td>{{ p.price}}</td>
<!--            <td nowrap=nowrap>
                <a ng-click = "loadData(p)"><i class="glyphicon glyphicon-pencil"></i></a>
                <a ng-click = "deletePizza(p)"><i class="glyphicon glyphicon-remove"></i></a>
            </td>-->
        </tr>
        </tr>
        </tbody>
    </table>

</div>