<div>
    <div class="header-content-inner">
        <br/><br/><br/>


        <h1> Moje zamówienia</h1>
        <hr>
        <br/><br/><br/>
    </div>
</div>
<div class="container-fluid bg-primary">
    <br/>
    <br/>


    <br/>
    <table class="table table-hover">
        <thead>
        <tr>

            <th>
                <center>Data</center>
            </th>
            <th>
                <center>Pizze</center>
            </th>
            <th>
                <center>Adres</center>
            </th>
            <th>
                <center>Cena</center>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in userOrders | orderBy: 'p.date'">

            <td>{{ p.date | date:'yyyy-MM-dd' }}</td>
            <td>
                <span ng-repeat="pizza in p.pizzaList">
                  {{pizza.name}}
                </span>
            </td>
            <td>
                <span>
                  {{p.adress.city}} {{p.adress.street}} {{p.adress.houseNumber}}/{{p.adress.flatNumber}}
                </span>
            </td>
            <td>
                {{p.price}}
            </td>
            <!--            <td nowrap=nowrap>
                            <a ng-click = "loadData(p)"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a ng-click = "deletePizza(p)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>-->
        </tr>
        </tbody>
    </table>

</div>